body {
padding-top: 15%;
padding-bottom: 15%;
height: 250px; 
background: url('../img/back.jpg') 50% 28% no-repeat;
background-size: 28.5%;
}

.container {
display: inline;
height: 250px;
box-sizing: border-box;
}

.baseForPanel {
padding-top: 24%;
width: 500px;
margin: 0 auto;
}

.panel {
font-size: 0;
width: 490px;
border: 1px solid white;
}

.list {
width: 100%;
}

.clear {
display: none;
}

.input {
width: 440px;
height: 50px;
font-size: 20px;
box-sizing: border-box;    
border: 1px solid gray;
}

.button {
width: 50px;
height: 50px;
cursor: help;
vertical-align: top;
border: 1px solid gray;
display: inline-block;
box-sizing: border-box;
background: url('../img/picture.jpg');
background-size: cover;
}