
html, body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Arial';
	height: 100vh;
}

.page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 2;
	display: none;
}

.page-preloader .spinner {
   width: 30vh;
    height: 30vh;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/load.gif) no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
    background-size: contain;

}

.page-preloader.visible {
	display: block;
}
