body {
height: 800px;
}

h1 {
text-align: center;
color: black;
}

table {
margin: 0 auto;
margin-top: 4%;
width: 75%;
text-align: center;
border-collapse: collapse;
}

th, td {
border: 1px solid white;
color: black;
}

A {
color: #191970;
}

A:active {
color: #1E90FF; 
}

.picture {
width: 200px;
height: 20%;
}